<% provide(:title, "Edit user") %>
<% provide(:header, "Meu Perfil") %>

<div class="col-xs-offset-1 col-xs-10 col-md-offset-4 col-md-4">
  <h2 class="main-content-title">Atualize seu perfil</h2>
  <%= form_for(@user) do |f| %>

    <%= render 'fields', f: f %>
    <%= f.submit "Salvar alterações", class: "btn btn-default" %>

  <% end %>

  <% if false %>
    <%= gravatar_for @user %>
    <%= link_to "change", "http://gravatar.com/emails", target: '_blank' %>
  <% end %>
</div>
