<% provide(:title, 'All users') %>

<% if false %>
<ul class="users">
  <%= render @users %>
</ul>
<%= will_paginate %>
<li>
  <%= gravatar_for user, size: 52 %>
  <%= link_to user.name, user %>
  <% if current_user.admin? && !current_user?(user) %>
    | <%= link_to "delete", user, method: :delete, confirm: "You sure?"  %>
  <% end %>
</li>
<% end %>

<ul class="nav nav-tabs" role="tablist" id="myTab">
  <li role="presentation" class="active">
    <a href="#users" aria-controls="users" role="tab" data-toggle="tab">Users</a>
  </li>
  <li role="presentation">
    <a href="#statuses" aria-controls="statuses" role="tab" data-toggle="tab">Statuses</a>
  </li>
</ul>
<!-- Tab panes -->
<div class="tab-content">
  <div role="tabpanel" class="tab-pane fade in active" id="users">
    <table class="table table-striped table-bordered" id="lista_de_users">
      <thead id="status_list_header">
        <th>Nome</th>
        <th>Email</th>
        <th colspan="2">Status</th>
      </thead>
      <tbody id="status_list_body">
        <%= render @users %>
      </tbody>
    </table>
    <%= will_paginate @users %>
  </div>
  <div role="tabpanel" class="tab-pane fade" id="statuses">
    <table class="table table-striped table-bordered" id="lista_de_statuses">
      <thead id="status_list_header">
        <th>Statuses</th>
        <th>Owner</th>
        <th colspan="2">Status</th>
      </thead>
      <tbody id="status_list_body">
        <%= render partial: 'shared/micropost_admin', collection: @microposts %>
      </tbody>
    </table>
    <%= will_paginate @microposts %>
  </div>
</div>
